/* Amit Levy - 311133433 */
/* Yaniv Ziperfal - 203311303 */
/* Eran Maron - 037040458 */

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  outline: none;
}

h3 {
  font-size: 22px;
}

#canvas {
  margin-top: 30px;
  border: 1px solid black;
  border-radius: 4px;
}

#canvas-container {
  display: flex;
  height: 80%;
  justify-content: center;
}

#canvas {
  border-radius: 8px;
}

#action-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15%;
  margin-top: 30px;
  margin-right: 20px;
  border: 1px solid #000;
  border-radius: 8px;
}

#action-icons input, #scaling-btn {
  margin-left: 15px;
  border: 1px solid black;
  border-radius: 4px;
  height: 30px;
  width: 100px;
  cursor: pointer;
}

.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 15px 0;
  padding: 20px 20px 10px 20px;
  height: 700px;
}

.container label {
  align-self: flex-start;
  font-size: 16px;
  font-weight: 700;
  margin: 10px 0;
}

/* .hidden-btn {
  position: absolute;
  right: 60px;
  width: 35px !important;
} */

/* .hide-element {
  display: none;
} */

/* .selected {
  border: 2px solid skyblue !important;
  box-shadow: 0 0 0 2px;
} */

.upload-btn {
  width: 50% !important;
  height: 20px !important;
  color: transparent;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #000 !important;
}

.scaling-container {
  display: flex;
  width: 100%;
  height: 30px;
  justify-content: space-around;
}

#scaling-btn {
  margin-top: 10px;
}

#oblique-angle {
  display: none;
  margin-top: 10px;
}

.clear-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  width: 100%;
}

#clear-canvas-btn {
  width: 80%;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 4px 8px;
}
